<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cross domain rss proxy">
    <meta name="author" content="guohengxi.dennis@gmail.com">
    <title>Not Support IE Alert !</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//<%=host%>/api/10"></script>
</head>
</head>

<body>
    <a href="https://github.com/DennisGuo/not-support-ie-alert.git" target="_blank">
        <img style="position: fixed; top: 0; right: 0; border: 0; z-index:9999" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
            alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Not Support IE Alert</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>-->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" style="padding-top:50px">
        <div class="starter-template text-center">
            <h1>Welcome to Not Support IE Alert!</h1>
            <p class="lead">This is A service which detect the browser , and show the not support IE alert.</p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>How to use ?</h4>
            </div>
            <div class="panel-body">
                <p><b>Step 1 : </b> Add the service link to the <code>html>head</code> as a script src.</p>
                <p><code>&lt;script src="http://<%=host%>/api/{version}/{description}"&gt;&lt;/script&gt;</code></p>
                <p>There are 2 param you should know: </p>
                <p>
                    <ol>
                        <li><b><code>version</code></b> : The IE version that you don't want to supported.  eg: <code>5</code>
                        <code>6</code>
                        <code>7</code>
                        <code>8</code>
                        <code>9</code></li>
                        <li><b><code>description (optional)</code></b> : The infomation that you want to tell the visitor which should encode with <code>encodeURL()</code>. eg: <code>we%20are%20sorry.</code></li>
                    </ol>
                </p>
                <p><b>Step 2 : </b> That's all , what a happy life ^_^ .</p>
                <hr>
                <p><b>Demo : </b> Refresh this page in IE browser to see the alert .</p>
                <p><code>&lt;script src="//<%=host%>/api/10"&gt;&lt;/script&gt;</code></p>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>The screen shoot!</h4>
            </div>
            <div class="panel-body text-center">
                <img src="http://i1.piimg.com/567571/0cdf5abf91e58a98.png"/>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>